.row {
    height: 3rem;
    border-bottom: 1px solid var(--medium-grey2);

    th,
    td {
        text-align: center;
    }

    .deleteBtn {
        background-color: red;
        margin-right: 1rem;
    }

    .doneBtn {
        background-color: var(--green-tick);
    }

    button:disabled {
        background-color: grey;
        opacity: 0.6;
        cursor: not-allowed;
    }
}

& .completedTask {
    text-decoration: line-through;
    color: var(--medium-grey);
}