form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;

    & legend {
        /*hide the fieldset legend*/
        display: none;
    }

    & fieldset {
        /*hide the form fieldset borders*/
        border: none;
        margin-bottom: 1rem;
    }
}